// Variables colors

$primary: #e76243;
$yellow: #efcd3a;
$black: #282827;
$blue: #00a7ff;
$gray: #666666;
$pinkish-grey: #cdcdcd;
$light-grey:#f3f3f3;
$white: #fff;
$teal: #00948e;
$border: #cfcfcf;


// --green: #;
// --primary: #;
// --white: #;
// --brown: #4a4a4a;
// --gray-lighter: #;
// --teal: #;
// --grey: #;
// quadrado verde: 490x670 $teal
// quadrado yellow: 140x140
// quadro primary: 70x70

